:root {
  --PrimaryColor: hsl(198, 100%, 33%);
  --SecondaryColor: hsl(186, 85%, 43%);
  --GradientColor: linear-gradient(
    to right,
    hsl(186, 85%, 43%),
    hsl(198, 100%, 33%)
  );
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(200, 33%, 16%);
  --TextColor: hsl(239, 4%, 36%);
  --WhiteColorDeam: hsl(0, 0%, 93%);
  --GreyText: rgb(189, 189, 189);
  --InputColor: rgb(238, 238, 238);
  --BodyColor: rgb(239, 239, 245);
  --CardBG: rgb(224, 224, 234);
  --cardHover: rgb(250, 250, 250);
}

.main {
  width: 100%;
}
.main .secTitle .title {
  position: relative;
  width: max-content;
  color: var(--TextColor);
  margin: 1rem 0;
  z-index: 2;
}
.main .secTitle .title::after {
  position: absolute;
  content: "";
  background: var(--SecondaryColor);
  height: 5px;
  width: 120px;
  right: 0;
  bottom: 5px;
  z-index: -1;
}
.main .secContent {
  justify-content: center;
  gap: 1.5rem;
}
.main .secContent .singleDestination {
  height: 100%;
  display: grid;
  row-gap: 10px;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
  background: var(--CardBG);
  box-shadow: 0 3px 5px rgba(139, 139, 140, 0.548);
  overflow: hidden;
}
.main .secContent .singleDestination:hover {
  background: var(--cardHover);
  box-shadow: 1 5px 5px rgba(80, 80, 110, 0.54) !important;
  transition: 0.5s ease-in-out;
}
.main .secContent .singleDestination .imgDiv {
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.main .secContent .singleDestination .imgDiv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 3s ease-in-out;
}
.main .secContent .singleDestination .imgDiv:hover img {
  transform: scale(1.2) !important;
  transition: 2s ease;
  cursor: pointer !important;
}
.main .secContent .singleDestination .cardInfo {
  padding: 1rem;
}
.main .secContent .singleDestination .cardInfo .destTitle {
  color: var(--BlackColor);
  font-size: 1.3;
}
.main .secContent .singleDestination .cardInfo .continent {
  gap: 0.6rem;
}
.main .secContent .singleDestination .cardInfo .continent .icon {
  color: var(--TextColor);
  font-size: 19px;
}
.main .secContent .singleDestination .cardInfo .continent .name {
  color: var(--TextColor);
  font-weight: 400;
  font-size: 15px;
}
.main .secContent .singleDestination .cardInfo .fees {
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1.5px solid var(--GreyText);
  border-top: 1.5px solid var(--GreyText);
}
.main .secContent .singleDestination .cardInfo .fees .grade {
  color: var(--TextColor);
  max-width: 100px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.main .secContent .singleDestination .cardInfo .fees .grade small {
  text-align: center;
  background: var(--GradientColor);
  border-radius: 1rem;
  color: var(--WhiteColor);
  padding: 2px 10px;
  font-size: 10px;
  margin-left: 5px;
}
.main .secContent .singleDestination .cardInfo .fees .price {
  font-size: 2rem;
  color: var(--BlackColor);
}
.main .secContent .singleDestination .cardInfo .desc {
  font-size: 13.5px;
  color: var(--TextColor);
  font-weight: 500;
}
.main .secContent .singleDestination .cardInfo .btn {
  margin-top: 1rem;
  color: var(--WhiteColor);
  font-weight: 600;
  justify-content: space-between;
  gap: 0.5rem;
}
.main .secContent .singleDestination .cardInfo .btn .icon {
  align-self: center;
  font-size: 18px;
}

/*# sourceMappingURL=main.css.map */
