@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Colors and Styling */
:root {
  --PrimaryColor: hsl(198, 100%, 33%);
  --SecondaryColor: hsl(186, 85%, 43%);
  --GradientColor: linear-gradient(
    to right,
    hsl(186, 85%, 43%),
    hsl(198, 100%, 33%)
  );
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(200, 33%, 16%);
  --TextColor: hsl(239, 4%, 36%);
  --WhiteColorDeam: hsl(0, 0%, 93%);
  --GreyText: rgb(189, 189, 189);
  --InputColor: rgb(238, 238, 238);
  --BodyColor: rgb(239, 239, 245);
  --CardBG: rgb(224, 224, 234);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.6rem 1.5rem;
  background: var(--GradientColor);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--WhiteColor);
}

.btn a {
  color: var(--WhiteColor);
  font-weight: 500;
}

.btn:hover {
  background: var(--SecondaryColor);
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}

body {
  background: var(--BodyColor);
}
